@font-face{
  font-family: Raleway;
  src: url("../fonts/raleway_thin-webfont.ttf");
  font-weight: 100;
}

/* CLEARING THE AIR */
body{
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100; 
  letter-spacing: 1px;
}

a, a:hover, a:visited{
  color: inherit;
  text-decoration: inherit;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* TEXT FORMATTING */
.explanation {
  margin: 80px;
}

.explanation p { 
  line-height: 1.4;
  font-size: 24px;
  color: #536e79; 
}

/* JUMBOTRON */

div.jumbotron{
  width: 100%;
  height: 404px;
  background: url("../img/jumbotron.png") no-repeat center bottom;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 70px;
}

.jumbotron .callout {
  margin: 70px auto;
  width: 800px;
  text-align: center;
}

.jumbotron .callout h1{
  text-shadow: 1px 1px 30px #000;
  color: white;
  font-family: Raleway, Helvetica Neue;
  font-weight: 100;
  font-size: 56px;
  line-height: 1.2;
}

/* RIBBON AND LOGO */

.logo {
  position: absolute;
  top: -3px;
  left: 5%;
}

.logo .ribbon {
    background: #eee;
    border-left: 1px dashed #aaa;
    border-right: 1px dashed #aaa;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 0 0 #eee,
                -5px 0 0 #eee;
    height: 100px;
    margin: 0 5px;
    position: relative;
    width: 90px;
    -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
    text-align: center;
    padding-top: 20px;
}
.logo .ribbon:after,
.logo .ribbon:before {
    border-top: 15px solid #eee;
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 0;
}
.logo .ribbon:after {
    border-left: 50px solid transparent;
    right: -6px;
}
.logo .ribbon:before {
    border-right: 50px solid transparent;
    left: -6px;
}

/* BUTTONS */

.button {
  text-align: center;
}

.white .button {
  background-color: white;
  color: #4d7c90;
}

.white .button:hover {
  background-color: #eee;
}

.jumbotron .login .button {
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  margin: 20px auto;
  font-size: 24px;
}

