@font-face{
  font-family: Raleway;
  src: url("../fonts/raleway_thin-webfont.ttf");
  font-weight: 100;
}

@font-face{
  font-family: Cubano;
  src: url("../fonts/Cubano-Regular.otf");
}

/* CLEARING THE AIR */
body, .button.request{
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100; 
  letter-spacing: 1px;
}

a, a:hover, a:visited{
  color: inherit;
  text-decoration: inherit;
}

.container {
  width: 940px;
  margin: 0 auto;
}

button {
  font-family: inherit;
  font-size: inherit;
  box-shadow: inherit;
  border: inherit;
  margin: inherit;
  padding: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

/* TEXT FORMATTING */
.explanation {
  margin: 80px;
}

.explanation p { 
  line-height: 1.4;
  font-size: 24px;
  color: #536e79; 
}

/* JUMBOTRON */

div.jumbotron{
  width: 100%;
  height: 404px;
  background: url("../img/jumbotron.png") no-repeat center bottom;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 70px;
}

.jumbotron .callout {
  margin: 70px auto;
  width: 800px;
  text-align: center;
}

.jumbotron .callout h1{
  text-shadow: 1px 1px 30px #000;
  color: white;
  font-family: Raleway, Helvetica Neue;
  font-weight: 100;
  font-size: 56px;
  line-height: 1.2;
}

/* RIBBON AND LOGO */

.logo {
  position: absolute;
  top: -3px;
  left: 5%;
}

.logo .ribbon {
    background: #eee;
    border-left: 1px dashed #aaa;
    border-right: 1px dashed #aaa;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 0 0 #eee,
                -5px 0 0 #eee;
    height: 100px;
    margin: 0 5px;
    position: relative;
    width: 90px;
    -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
    text-align: center;
    padding-top: 20px;
}
.logo .ribbon:after,
.logo .ribbon:before {
    border-top: 15px solid #eee;
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 0;
}
.logo .ribbon:after {
    border-left: 50px solid transparent;
    right: -6px;
}
.logo .ribbon:before {
    border-right: 50px solid transparent;
    left: -6px;
}

/* HEADER FOR NON-SPLASH PAGE */
.headline{
    width: 100%;
    text-align: center;
    font-family: Cubano, Arial Round, sans-serif;
    font-size: 28px;
    padding: 15px;
    color: white;
    background-color: #4d7c90;
    box-shadow: 5px 0 0 #eee,
                -5px 0 0 #eee;
    -webkit-filter: drop-shadow(0 2px 5px hsla(0,0%,0%,.5));
    position: relative ;
    z-index: -1;
}

/* BUTTONS */

.button {
  text-align: center;
}

.white.button {
  background: white;
  color: #4d7c90;
}

.white.button:hover {
  background-color: #eee;
}

.jumbotron .login.button {
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  margin: 20px auto;
  font-size: 24px;
}

.blue.button {
  background-color: #4b6f99;
  color: white;
}

.blue.button:hover {
  background-color: #395474;
 }

.login_forms_wrapper .login.button { 
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin: 15px auto;
  font-size: 20px;
}

.button.request {
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
  width: 140px;
}

/* FORMS */

.form-signin{
  width: 300px;
  text-align: center;
}

.input-block-level, .signup_form .input-block-level, .login_form .input-block-level {
  padding: 24px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

/* LOGIN PAGE SPECIFICS */

.container .login_forms_wrapper{
  width: 800px;
  margin: 90px auto;
}

.container .login_forms_wrapper h3, .container .dashcont h3{
  font-family: Raleway;
  font-size: 24px;
  color: #4d7c90;
}

.container .signup_form{
  float: left;
  border-right: 1px solid #4d7c90;
  width: 370px;
}

.container .login_form{
  float: right;
  width: 360px;
  margin-top: 40px;
}

.container .login_forms_wrapper button.blue {
  width: 250px;
  margin: 20px auto;
}

.popup button.blue {
  width: 150px;
  border-radius: 5px;
  padding: 5px 10px;
 }

/* DASHBOARD */

.container .dashcont{
  width: 800px;
  margin: 40px auto;
}

.request_button_container{
  float: right;
}

/* OVERLAY THINGS */
#overlay{
  position: fixed;
  z-index: 2;
  background: rgba(0,0,0,.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup{
  width: 600px;
  background: white;
  padding:50px;
  position: fixed;
  z-index: 3;
  top: 40px;
  left: 50%;
  margin-left: -350px;
}

/* REQUEST LOG INFO & STYLING */

.request_log{
  border-top: 1px dotted #333333;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
  color: #666;
  padding-bottom: 60px;
}

.request_log li{
  list-style-type: none;
}

.request_log .requestee, .request_log .chore_time, .request_log .chore_description{
  font-style: normal;
  font-weight: 500;
  color: #4d7c90;
}
